[Desktop Entry]
Name=Visual Code (Work)
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=/bin/sh -c "PROFILE='work' ${HOME}/.local/bin/qubesome-code --unity-launch %F"
Icon=vscode
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/bin/sh -c "PROFILE='work' ${HOME}/.local/bin/qubesome-code --new-window %F"
Icon=vscode
