name: build-images

on:
  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions: {}

env: 
  REGISTRY: 127.0.0.1:5000/qubesome
  TAG: latest

jobs:
  build-images:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, ubuntu-24.04-arm]

    runs-on: ${{ matrix.platform }}
  
    services:
      registry:
        image: registry:3
        ports:
          - 5000:5000

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          name: qubesome
          driver-opts: network=host
          platforms: linux/amd64,linux/arm64
      
      - name: Test build and push of images
        run: make push

      - name: Smoke test binaries
        run: |
          docker run "${REGISTRY}/xorg:${TAG}" awesome --version
          docker run "${REGISTRY}/xorg:${TAG}" i3 --version
          docker run "${REGISTRY}/code:${TAG}" code --version
          docker run "${REGISTRY}/chrome:${TAG}" google-chrome --version
          docker run "${REGISTRY}/vivaldi:${TAG}" vivaldi --version
