name: release

on:
  push:
    branches:
      - main

  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 3'

permissions: 
  packages: write # publish images to ghcr.io/repo.
  contents: write # add artefacts release.
  id-token: write # for cosign "keyless".

env: 
  REPO: ghcr.io/${{ github.repository }}

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: cosign-installer
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      
      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set current date
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
        
      - name: Set head SHA
        id: head
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build and push images
        run: |
          REGISTRY="ghcr.io/${GITHUB_REPOSITORY_OWNER}" TAG="${DATE}-${SHORT_SHA}" make push
          REGISTRY="ghcr.io/${GITHUB_REPOSITORY_OWNER}" TAG="latest" make push
        env:
          DATE: ${{ steps.date.outputs.date }}
          SHORT_SHA: ${{ steps.head.outputs.short_sha }}
